<% include partials/header %>

<div class= "container">
    <header class="jumbotron">
        
        <h1>Welcome to Rantic Ice Cream Shopping List!  </h1>
        <p>Welcome to Rantic Ice Creams</p>

        <a href="/ValeIceCream">View Ice Cream List!</a>
 
    </header>
        
</div>